<div class="container">
    <div class="text-container">
        <h2><span class="first-word">CAKE</span> makes our world go round.</h2>
        <div class="text-subtle">CAKE token is at the heart of the PancakeSwap ecosystem. Buy it,
            win sit, farm it, spend it, stake it... heck, you can even vote with it!</div>
        <div class="sec6-buttons">
            <button type="btn" class="btn btn-nor" [routerLink]="'/trade'">Buy CAKE</button>
            <a target="_blank" href="#" class="btn-link link-learn">Learn</a>
        </div>
    </div>
    <div class="images-container">
        <img src="../../../assets/coin@2x.webp" class="sec6-img animation4001" alt="" style=" z-index:3;">
        <img src="../../../assets/top-left@2x.webp" class="sec6-img animation4002" id="img-top-left" alt="" style="z-index: 4;">
        <img src="../../../assets/top-right@2x.webp" class="sec6-img animation4003" id="img-top-right" alt="" style="z-index: 1;">
        <img src="../../../assets/bottom-right@2x.webp" class="sec6-img animation4004" id="img-bottom-right" alt="" style="z-index: 2;"> 
    </div>
</div>
