.header {
    display: flex;
    justify-content: center;
}

.link {
    margin-right: 20px;
    padding: 6px;
}

.link-active {
    border-bottom: 4px solid #1FC7D4 !important;
}

.link a {
    text-decoration: none;
    color: rgb(122, 110, 170);
}

.link:hover {
    background-color: rgba(203, 235, 225, 0.247);
}