.pre-footer-container {
    display: flex;
    background-color: #6231c3;
    justify-content: space-around;
    height: 428px;
}

.cont1-prefoot {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    width: 80vh;
}

.pancake-container-1 {
    height: 256px;
    width: 256px;
}

.pancake-1 {
    height: 256px;
    width: 256px;
    position: absolute;
    z-index: 1;
}

.pancake-2 {
    height: 256px;
    width: 256px;
    position: absolute;
    z-index: 1;
}

.pancake-3 {
    height: 256px;
    width: 256px;
    position: absolute;
    z-index: 0;
}

.pancake-container-2 {
    height: 256px;
    width: 256px;
    margin-top: 160px;
}

.pancake-4 {
    height: 256px;
    width: 256px;
    position: absolute;
    z-index: 0;
}

.pancake-5 {
    height: 256px;
    width: 256px;
    position: absolute;
    z-index: 1;
}

.pancake-6 {
    height: 256px;
    width: 256px;
    position: absolute;
    z-index: 0;
}

@media screen and (max-width: 850px) {
    .pancake-1, .pancake-2, .pancake-3, .pancake-4, .pancake-5, .pancake-6, .pancake-container-1, .pancake-container-2 {
        display: none;
    }

}