#img1 {
  z-index: 3;
  position: absolute;
}

#img2 {
  z-index: 2;
  position: relative;
}

#img3 {
  z-index: 1;
  position: relative;
  bottom: 480px;
  left: 45px;
  max-width: 450px;
}

@keyframes img512 {
  0% {width: 512px; height: 512px;}
  50% {width: 507px; height: 507px;}
  100% {width: 512px; height: 512px;}
}

@keyframes img450 {
  0% {width: 450px; height: 450px;}
  50% {width: 445px; height: 445px;}
  100% {width: 450px; height: 450px;}
}

.animation512 {
  animation: img512 2s infinite linear both;
}
.animation450 {
  animation: img450 5s infinite linear both;
}

@media screen and (max-width: 768px) {

  @keyframes img512 {
      0% {
          width: 200px;
          height: 200px;
      }

      50% {
          width: 190px;
          height: 190px;
      }

      100% {
          width: 200px;
          height: 200px;
      }
  }

  @keyframes img450 {
      0% {
          width: 200px;
          height: 200px;
      }

      50% {
          width: 190px;
          height: 190px;
      }

      100% {
          width: 200px;
          height: 200px;
      }
  }
}