<div class="containerliquidity">
    <div class="headerliquidity">
        <div class="linkliquidity">
            <a href="#">Swap</a>
        </div>
        <div class="linkliquidity">
            <a href="#">Limit</a>
        </div>
        <div class="linkliquidity">
            <a href="#">Liquidity</a>
        </div>
        <div class="linkliquidity">
            <a href="#">Perpetual<button class="exitbtn"></button></a>
        </div>
    </div>
    <div class="bgliquidity">
        <app-liquidity-comp></app-liquidity-comp>
    </div>
</div>