<div class="detContainer">
    <div class="singCont">
        <div class="textLightBlue">
            <p class="color-text-cyan">Get CAKE-BNB LP<img class="exit" src="assets/DetCompImg/detComp.png"></p>
            <p class="color-text-cyan">View Contract <img class="exit" src="assets/DetCompImg/detComp.png"></p>
            <p class="color-text-cyan">See Pair Info <img class="exit" src="assets/DetCompImg/detComp.png"></p>
            <div class="imgcore">
                <img src="assets/DetCompImg/core.png" class="core">
            </div>
        </div>

        <div class="cakeEarned">
            <div class="numbCake">
                <p class="color-display-1">CAKE EARNED</p>
                <p class="zero">0</p>
            </div>
            
            <div class="btnHarv">
                <button class="harvest">Harvest</button>
            </div>
        </div>

        <div class="startFarming">
            <p class="color-display-1">START FARMING</p>
            <button type="btn" class="btn btn-nor btnC">Connect Wallet</button>
        </div>

    </div>
</div>