.container {
    display: grid;
    margin-top: 25px;
    grid-template-columns: repeat(2, auto);
    gap: 16px;
}

.cell {
    display: flex;
    flex-direction: column;
    border-left: 1px solid rgb(215, 202, 236);
    padding: 0 16px;
}

.cell-title {
    color: rgb(122, 110, 170);
    font-size: 16px;
    font-weight: 400;
}

.cell-value {
    font-weight: 600;
    font-size: 1.5rem;
}

@media screen and (min-width: 852px) {
    .container {
        gap: 32px;
        grid-template-columns: repeat(4, auto);
    }

    .first-cell {
        padding: 0;
    }
}