.divisore {
  display: flex;
  margin: 15px;
}

.pictures {
  max-width: 500px;
  max-height: 428px;
  box-sizing: border-box;
}

.parte-sx h3 {
  font-size: 45px;
}

.ahref {
  padding-left: 15px;
  font-size: 16px;
  color: #1FC7D4;
  font-weight: 600;
  text-decoration: none;
}

.ahref:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .pictures {
      max-width: 100%;
      position: relative;
      right: 50px;
      max-height: 100px;
  }
  .divisore {
      flex-direction: column;
  }

  .divisore .parte-sx {
      order: 2;
  }

  .divisore .parte-dx {
      max-width: 100%;
  }
  .divisore .parte-dx .pictures {
      position: relative;
  }

  .divisore .parte-sx .pictures {
      position: relative;
  }
}