<div class="container">
    <table>
        <tbody>
            <ng-container *ngIf="tableStatistic$ | async as statistics">
                <tr *ngFor="let statistic of statistics">
                    <td>{{ statistic.title | uppercase}}</td>
                    <td>{{ statistic.earned }}</td>
                    <td>{{ statistic.apr }}</td>
                    <td>{{ statistic.liquidity }}</td>
                    <td>{{ statistic.multiplier }}</td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>