.sec-5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
    font-size: 2.5em;
    margin: 40px 0 24px;
    text-align: center;
}

.first-word {
    color: #7645D9;
}

div[class *="text-subtle"] {
    color: rgb(122, 110, 170);
}

.text-subtle-2 {
    margin: 0 0 40px;
}

.sec5-card-container {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 852px) {
    .sec5-card-container {
        flex-direction: row;
    }
}