.pre-footer-container {
    display: flex;
    background-color: #6231c3;
    justify-content: space-around;
    height: 428px;
}

.cont1-prefoot {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    width: 80vh;
}

.subtitle {
    text-align: center;
}

.decoration-link, button {
    margin-top: 24px;
}

.pancake-container-1 {
    height: 256px;
    width: 256px;
}

.pancake-1 {
    height: 256px;
    width: 256px;
    position: absolute;
    z-index: 1;
    animation: img-5001 3s ease-in-out 1s infinite normal;
}

.pancake-2 {
    height: 256px;
    width: 256px;
    position: absolute;
    z-index: 1;
    animation: img-5002 3s ease-in-out 1s infinite normal;
}

.pancake-3 {
    height: 256px;
    width: 256px;
    position: absolute;
    z-index: 0;
    animation: img-5003 3s ease-in-out 1s infinite normal;
}

.pancake-container-2 {
    height: 256px;
    width: 256px;
    margin-top: 160px;
}

.pancake-4 {
    height: 256px;
    width: 256px;
    position: absolute;
    z-index: 0;
    animation: img-5004 3s ease-in-out 1s infinite normal;
}

.pancake-5 {
    height: 256px;
    width: 256px;
    position: absolute;
    z-index: 1;
    animation: img-5005 3s ease-in-out 1s infinite normal;
}

.pancake-6 {
    height: 256px;
    width: 256px;
    position: absolute;
    z-index: 0;
    animation: img-5006 3s ease-in-out 1s infinite normal;
}

@keyframes img-5001 {
    0% {
        transform: translate(0px, 0px);
    }
    50% {
        transform: translate(7px, 17px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes img-5002 {
    0% {
        transform: translate(0px, 0px);
    }
    50% {
        transform: translate(7px, 19px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes img-5003 {
    0% {
        transform: translate(0px, 0px);
    }
    50% {
        transform: translate(7px, 21px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes img-5004 {
    0% {
        transform: translate(0px, 0px);
    }
    50% {
        transform: translate(7px, 18px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes img-5005 {
    0% {
        transform: translate(0px, 0px);
    }
    50% {
        transform: translate(7px, 16px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes img-5006 {
    0% {
        transform: translate(0px, 0px);
    }
    50% {
        transform: translate(7px, 21px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}


@media screen and (max-width: 850px) {
    .pancake-1, .pancake-2, .pancake-3, .pancake-4, .pancake-5, .pancake-6, .pancake-container-1, .pancake-container-2 {
        display: none;
    }

}