<div class="pre-footer-container">
    <div class="pancake-container-1">
        <img src="assets/reference-img/pancake-1.png" class="pancake-1">
        <img src="assets/reference-img/pancake-2.png" class="pancake-2">
        <img src="assets/reference-img/pancake-3.png" class="pancake-3"></div>
    <div class="cont1-prefoot">
        <h2 class="font-display-2 color-text-white">Start in seconds.</h2>
        <div class="color-text-white subtitle">Connect your crypto wallet to start using the app in seconds.</div>
        <div class="color-text-white font-weight-600">No registration needed.</div>
        <a href="#" class="decoration-link color-text-cyan">Learn how to start</a>
        <button class="btn btn-nor" (click)="modalOn()">Connect Wallet</button>
    </div>
    <div class="pancake-container-2">
        <img src="assets/reference-img/pancake-4.png" class="pancake-4">
        <img src="assets/reference-img/pancake-5.png" class="pancake-5">
        <img src="assets/reference-img/pancake-6.png" class="pancake-6"></div>
</div>
