<div class="container-pg">
        <!-- Componente Matteo:
    Componente CARD con grafico per la pagina Trade/Exchange
    Bottoni non cliccabili e grafico statico.     
    Stili per il componente reperibili nella cartella styles/graph_exchange -->
    <div class="grid12 parte3">
            <!-- Container della card  -->
            <div class="card-graph-container">
                <!-- CARD  -->
                <div class="card-graph">
                    <!-- Sezione di header  -->
                    <div class="header-container">
                        <div class="header">
                            <div class="icons-left">
                                <img src="../../../assets/reference-img/bunny_blue.png" alt="icona con logo Pancake" />
                                <img src="../../../assets/reference-img/logo_yell.png" alt="icona con logo coin" />
                            </div>
                            <div class="text">BNB/CAKE</div>
                            <button class="btn-graph btn-arrows">
                                <img src="../../../assets/reference-img/swap-arrows.svg"
                                    alt="icona con doppie frecce orizzontali" />
                            </button>
                            <button class="btn-graph text-btn text1">Basic</button>
                            <button class="btn-graph text-btn text2">TradingView</button>
                        </div>
                        <button class="btn-graph btn-arrows">
                            <img src="../../../assets/reference-img/expand-arrow.svg"
                                alt="icona con doppie frecce diagonali" />
                        </button>
                    </div>
                    <!-- Sezione con intestazione e switch data -->
                    <div class="title-date-container">
                        <div class="title-container">
                            <div class="title">
                                <div class="title-left">59.13</div>
                                <div class="title-center">BNB/CAKE</div>
                                <div class="title-right">+1.589 (2.76%)</div>
                            </div>
                            <div class="date">Mar 01, 2022, 12:54 PM</div>
                        </div>
                        <div class="date-switch-container">
                            <div class="buttons-container">
                                <button class="date-buttons hours">24H</button>
                            </div>
                            <div class="buttons-container">
                                <button class="date-buttons weeks">1W</button>
                            </div>
                            <div class="buttons-container">
                                <button class="date-buttons months">1M</button>
                            </div>
                            <div class="buttons-container">
                                <button class="date-buttons years">1Y</button>
                            </div>
                        </div>
                    </div>
                    <!-- Sezione con grafico -->
                    <div class="img-container">
                        <img src="../../../assets/reference-img/graph.png" alt="" id="graph">
                        <div class="hours-container">
                            <span class="img-hours">08:00 PM</span>
                            <span class="img-hours">12:00 AM</span>
                            <span class="img-hours">04:00 AM</span>
                            <span class="img-hours">08:00 AM</span>
                            <span class="img-hours">12:00 PM</span>
                            <span class="img-hours">05:30 PM</span>
                        </div>
                    </div>
                </div>
            </div>
    </div>

    <div class="grid12 parte1">
        <div class="space-exc-card">
            <div class="exc-card">
                <div class="exc-card-parte1">
                    <button class="btn-exc">
                    <img src="../../../assets/reference-img/img_sbarra.png" class="immagine-sbarrata">
                    </button>
                     <h2>Swap</h2>
                     <div class="img-right-exc">
                        <button class="btn-exc"><img src="../../../assets/reference-img/impostazioni.png" class="impostazioni-exc"></button>
                        <button class="btn-exc"><img src="../../../assets/reference-img/ricarica_scu.png" class="ricarica-scura"> </button>
                        <button class="btn-exc"><img src="../../../assets/reference-img/ricarica_op.png" class="ricarica-opaca"></button>
                     </div>
                    <h5>Trade tokens in an instant</h5>
                </div>
                <div class="exc-card-parte2">
                    <div class="parte-bnb">
                        <img class="logo-yellow" src="../../../assets/reference-img/logo_yell.png">
                        <h4>BNB</h4>
                        <img src="../../../assets/reference-img/freccia-scura.png">
                    </div>
                    <input type="number" value="0.0" class="take-amount">
                    <div class="second-btn-exc">
                        <button class="btn-exc-second"></button>
                    </div>
                    <div class="parte-cake">
                        <img class="bunny-blue" src="../../../assets/reference-img/bunny_blue.png">
                        <h4>CAKE</h4>
                        <img src="../../../assets/reference-img/freccia-scura.png">
                    </div>
                    <input type="number" value="0.0" class="take-amount">
                    <div class="parte-footer">
                        <h6>Slippage Tolarance</h6>
                        <h5>0.5%</h5>
                    </div>
                    <button type="btn" class="btn btn-sb exc-btn-blue" (click)="modalOn()">Connect Wallet</button>
                </div>
               
            </div>
        </div>
    </div>

    </div>
