<div class="display_home_bg home_hero">
    <div class="text-home">
        <h1 class="font-display-1 color-display-1">
            The moon is made of pancakes</h1>
        <h2 class="font-display-3 color-display-2"> Trade, earn, and win crypto on the most
            popular decentralized platform in the galaxy.</h2>
        <button type="btn" class="btn btn-nor home" (click)="modalOn()">Connect Wallet</button>
        <button type="btn" class="btn btn-alt" [routerLink]="'/child/trade'">Trade Now</button>
    </div>
    <app-animation-lunarbunny></app-animation-lunarbunny>
</div>  