* {
    margin: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: center;
}

button {
    border: 0;
    background-color: transparent;
    padding: 0;
    display: flex;
    align-items: center;
}

a {
padding: 0px;
}

button svg {
    fill:  rgb(31, 199, 212);
    margin-left: 5px;
}

.heading {
    padding: 32px 24px;
    background-color: #E7FBFF;
}

h1 {
    font-size: 64px;
    color: rgb(118, 69, 217);   
    margin: 0 0 24px;
}

.table-container {
    padding: 32px 24px;
}