<div class="divisore">
     <div class="parte-sx">
        <app-animation-grafic></app-animation-grafic>
    </div>
        <div class="parte-dx">
            <h3><span class="color-display-1">Earn</span> passive income with crypto.</h3>
            <p class="color-text-purple font-weigt-600">PancakeSwap makes it easy to make your crypto work for you.
            </p>
            <button type="btn" class="btn btn-nor">Explore</button>
            <a href="#" class="ahref">Learn</a>
    </div>
</div>