@import "../navbar/navbar/navbar.component.css";

.dropdown-content {
    bottom: 70px;
    position: fixed;
}

.footer-container {
    display: flex;
    justify-content: center;
}

.footer {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
}

.cont1-foot {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 40px;
}

.ul-footer {
    padding: 0;
}

.li-footer {
    margin: 10px;
}

.cont2-foot {
    align-self: flex-start;
    height: 55px;
    width: 100%;
    border-bottom: solid 1px gray;
    margin-top: 10px;
}

.cont3-foot {
    display: flex;
    justify-content: space-between;
    height: 6rem;
    align-items: center;
}

.foot-subcont1 {
    display: flex;
    align-items: center;
}

.foot-subcont2 {
    display: flex;
    align-items: center;

}

.svg-format {
    height: 24px;
    width: 160px;
    margin-top: 20px;
}

.svg-format2 {
    display: none;
    height: 24px;
    width: 160px;
    margin-top: 20px;
}

.mini-svg {
    margin: 10px;
}

.svg-cont {
    display: flex;
}

.icon-svg {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 10px;
}

#svg-value {
    margin-right: 10px;

}

@media screen and (max-width: 575px) {
    .footer-container {
        justify-content: flex-start;
        padding: 30px 12px;
    }

    .cont1-foot {
        flex-direction: column;
        order: 2;
    }

    .cont2-foot {
        order: 3;
    }

    .cont3-foot {
        order: 1;
        flex-wrap: wrap;
    }

    .svg-format {
        display: none;
    }

    .svg-format2 {
        display: block;
        margin-bottom: 20px;
    }

    .foot-subcont1 {
        order: 2;
    }

    .foot-subcont2 {
        order: 1;
        width: 500px;
        margin-bottom: 30px;
        justify-content: space-between;
    }

}
