<div class="footer-container bgcolor-black">
    <div class="footer">
        <img src="assets/reference-img/svgexport-22.svg" class="svg-format2">
        <div class="cont1-foot">
            <ul class="ul-footer">
                <li class="li-footer color-text-indigo font-weight-600">ABOUT</li>
                <li class="li-footer"><a class="decoration-link color-text-orange">Contact</a></li>
                <li class="li-footer"><a class="decoration-link color-text-white">Brand</a></li>
                <li class="li-footer"><a class="decoration-link color-text-white">Blog</a></li>
                <li class="li-footer"><a class="decoration-link color-text-white">Community</a></li>
                <li class="li-footer"><a class="decoration-link color-text-white">CAKE Token</a></li>
                <li class="li-footer color-text-white">--</li>
                <li class="li-footer"><a class="decoration-link color-text-white">Online Store</a></li>
            </ul>
            <ul class="ul-footer">
                <li class="li-footer color-text-indigo font-weight-600">HELP</li>
                <li class="li-footer"><a class="decoration-link color-text-white">Customer Support</a></li>
                <li class="li-footer"><a class="decoration-link color-text-white">Troubleshooting</a></li>
                <li class="li-footer"><a class="decoration-link color-text-white">Guides</a></li>
            </ul>
            <ul class="ul-footer">
                <li class="li-footer color-text-indigo font-weight-600">DEVELOPERS</li>
                <li class="li-footer"><a class="decoration-link color-text-white">Github</a></li>
                <li class="li-footer"><a class="decoration-link color-text-white">Documentation</a></li>
                <li class="li-footer"><a class="decoration-link color-text-white">Bug Bounty</a></li>
                <li class="li-footer"><a class="decoration-link color-text-white">Audits</a></li>
                <li class="li-footer"><a class="decoration-link color-text-white">Careers</a></li>
            </ul>
            <img src="assets/reference-img/svgexport-22.svg" class="svg-format">
        </div>

        <div class="cont2-foot">

            <a href="#"><img src="assets/reference-img/twitter.svg" class="mini-svg"></a>
            <a href="#"><img src="assets/reference-img/telegram.svg" class="mini-svg"></a>
            <a href="#"><img src="assets/reference-img/reddit.svg" class="mini-svg"></a>
            <a href="#"><img src="assets/reference-img/instagram.svg" class="mini-svg"></a>
            <a href="#"><img src="assets/reference-img/github.svg" class="mini-svg"></a>
            <a href="#"><img src="assets/reference-img/discord.svg" class="mini-svg"></a>

        </div>

        <div class="cont3-foot">

            <div class="foot-subcont1">
                <div class="dropdown">
                    <div class="prova">
                        <button class="dropbtn">
                            <img src="assets/home_img/world.png" class="world" />
                        </button>
                    </div>
                    <div class="dropdown-content dropdown-scrollbar">
                        <a href="#" *ngFor="let language of languages;">{{ language.linguage}}</a>
                    </div>
                </div>
            </div>

            <div class="foot-subcont2">
                <div class="svg-cont">
                  <img src="assets/reference-img/svgexport-6.svg" class="icon-svg">
                <div id="svg-value" class="color-text-purple font-weight-600">$7.678</div>  
                </div>
                <div><button class="btn btn-sb" [routerLink]="'/trade'">Buy CAKE</button></div>
            </div>

        </div>

    </div>
</div>