<div class="navbar">
    <div class="logo1_bunnyHs"><a href="#"><img src="assets/home_img/logo_scritta.png" class="logo1_bunnyH"></a></div>

    <div class="sx">
        <div class="dropdown">
            <button class="dropbtn">
                Trade
            </button>
            <div class="dropdown-content">
                <a href="#">Exchange</a>
                <a href="#">Liquidity</a>
            </div>
        </div>
        <!--link2-->
        <div class="dropdown">
            <button class="dropbtn">
                Earn
            </button>
            <div class="dropdown-content">
                <a href="#">Farms</a>
                <a href="#">Forms</a>
                <a href="#">Pools</a>
            </div>
        </div>
        <!--link3-->
        <div class="dropdown">
            <button class="dropbtn">
                Win
            </button>
            <div class="dropdown-content">
                <a href="#">Trading Competition</a>
                <a href="#">Prediction (BETA)</a>
                <a href="#">Lottery</a>
            </div>
        </div>
        <!--link4-->
        <div class="dropdown">
            <button class="dropbtn">
                NFT
            </button>
            <div class="dropdown-content">
                <a href="#">Overview</a>
                <a href="#">Collections</a>
                <a href="#">Activity</a>
            </div>
        </div>
        <!--link5-->
        <div class="dropdown">
            <button class="dropbtn">
                ...
            </button>
            <div class="dropdown-content">
                <a href="#">Info</a>
                <a href="#">IFO</a>
                <a href="#">Voting</a>
                <a href="#" class="leaderboard">Leaderboard</a>
                <a href="#">Blog <img src="assets/home_img/exit-img.png" class="exit_img" /></a>
                <a href="#">Docs <img src="assets/home_img/exit-img.png" class="exit_img" /></a>
            </div>
        </div>

    </div>
    <div class="dx">
        <div class="prova proval"><a href="#"><img src="assets/home_img/logo1_blue.png" class="logo1_blue" /></a></div>
        <div class="change-num"><a href="#">
                <p>$7.545</p>
            </a></div>
        <div class="dropdown">
            <div class="prova">
                <button class="dropbtn">
                    <img src="assets/home_img/world.png" class="world" />
                </button>
            </div>
            <div class="dropdown-content dropdown-scrollbar">
                <a href="#">العربية</a>
                <a href="#">বাংলা</a>
                <a href="#">English</a>
                <a href="#">Deutsch</a>
                <a href="#">Ελληνικά</a>
                <a href="#">Español</a>
                <a href="#">Suomalainen</a>
                <a href="#">Filipino</a>
                <a href="#">Français</a>
                <a href="#">हिंदी</a>
                <a href="#">Magyar</a>
                <a href="#">Bahasa Indonesia</a>
                <a href="#">Italiano</a>
                <a href="#">日本語</a>
                <a href="#">한국어</a>
                <a href="#">Nederlands</a>
                <a href="#">Polski</a>
                <a href="#">Português(Brazil)</a>
                <a href="#">Português</a>
                <a href="#">Română</a>
                <a href="#">Русский</a>
                <a href="#">Svenska</a>
                <a href="#">தமிழ்</a>
                <a href="#">Türkçe</a>
                <a href="#">Українська</a>
                <a href="#">Tiếng Việt</a>
                <a href="#">简体中文</a>
                <a href="#">繁體中文</a>
            </div>
        </div>
        <div class="prova2"><a href="#"><img src="assets/home_img/impostazioni.png" class="impostazioni" /></a>
        </div>
        <button type="btn" class="btn btn-sb">Connect Wallet</button>
    </div>
</div>
