<div class="navbar">
    <div class="logo1_bunnyHs"><a href="#"><img src="assets/home_img/logo_scritta.png" class="logo1_bunnyH"></a></div>

    <div class="sx">
        <div class="dropdown">
            <button class="dropbtn" routerLink="/child/trade">
                Trade
            </button>
            <div class="dropdown-content">
                <a href="#" *ngFor="let trade of trades;">{{ trade.trade }}</a>
            </div>
        </div>
        <!--link2-->
        <div class="dropdown">
            <button class="dropbtn">
                Earn
            </button>
            <div class="dropdown-content">
                <a href="#" *ngFor="let earn of earns;" [routerLink]="earn.link">{{ earn.earn }}</a>
            </div>
        </div>
        <!--link3-->
        <div class="dropdown">
            <button class="dropbtn">
                Win
            </button>
            <div class="dropdown-content">
                <a href="#" *ngFor="let win of wins;">{{ win.win}}</a>
            </div>
        </div>
        <!--link4-->
        <div class="dropdown">
            <button class="dropbtn">
                NFT
            </button>
            <div class="dropdown-content">
                <a href="#"*ngFor="let nft of nfts;">{{ nft.nft}}</a>
            </div>
        </div>
        <!--link5-->
        <div class="dropdown">
            <button class="dropbtn">
                ...
            </button>
            <div class="dropdown-content">
                <a href="#" *ngFor="let other of others;">{{ other.other}}</a>
                <a href="#" class="leaderboard">Leaderboard</a>
                <a href="#" *ngFor="let another of anothers;">{{ another.another}} <img src="{{ another.img }}" class="exit_img" /></a>
            </div>
        </div>

    </div>
    <div class="dx">
        <div class="prova proval"><a routerLink="home"><img src="assets/home_img/logo1_blue.png" class="logo1_blue" /></a></div>
        <div class="change-num"><a href="#">
                <p>$7.545</p>
            </a></div>
        <div class="dropdown">
            <div class="prova">
                <button class="dropbtn">
                    <img src="assets/home_img/world.png" class="world" />
                </button>
            </div>
            <div class="dropdown-content dropdown-scrollbar">
                <a href="#" *ngFor="let language of languages;">{{ language.linguage}}</a>
            </div>
        </div>
        <div class="prova2"><a href="#"><img src="assets/home_img/impostazioni.png" class="impostazioni" /></a>
        </div>
        <button type="btn" class="btn btn-sb" (click)="modalOn()">Connect Wallet</button>
    </div>
</div>
