/* CONTAINERS */
.container {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    justify-content: center;
}

.text-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    justify-content: center;
}

.images-container {
    max-height: 192px;
    max-width: 192px;
    position: relative;
}

@media screen and (min-width: 852px) {
    .container {
        flex-direction: row;
        align-items: center;
    }

    .images-container {
        flex: 1 1 0%;
        max-height: 410px;
        max-width: 400px;
    }
}

/* TESTO */
h2 {
    margin-bottom: 24px;
    font-size: 2.5em;
}

.first-word {
    color: #7645D9;
}

.text-subtle {
    margin-bottom: 24px;
    color: rgb(122, 110, 170);
}

.link-learn {
    margin-left: 16px;
}

/* IMAGES */
img {
    max-width: 192px;
    max-height: 192px;
    position: relative;
}

#img-bottom-right {
    bottom: 580px;
}

#img-top-left {
    bottom: 190px;
    right: 10px;
}

#img-top-right {
    bottom: 390px;
    right: 10px;
}

@media screen and (min-width: 850px) {
    .sec6-img {
        max-width: 400px;
        max-height: 400px;
        
    }

    #img-bottom-right {
        bottom: 1180px;
    }

    #img-top-left {
        bottom: 385px;
        right: 10px;
    }

    #img-top-right {
        bottom: 800px;
        right: 10px;
    }
}

/* ANIMAZIONI */
@keyframes img400-1 {
    0% {
        transform: translate(0px, 0px);
    }
    50% {
        transform: translate(6px, 12px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}
@keyframes img400-2 {
    0% {
        transform: translate(0px, 0px);
    }
    50% {
        transform: translate(7px, 21px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}
@keyframes img400-3 {
    0% {
        transform: translate(0px, 0px);
    }
    50% {
        transform: translate(7px, 18px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}
@keyframes img400-4 {
    0% {
        transform: translate(0px, 0px);
    }
    50% {
        transform: translate(7px, 18px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

.animation4001 {
    animation: img400-1 3s ease-in-out 0.66s infinite normal;
}

.animation4002 {
    animation: img400-2 3s ease-in-out 0.8s infinite normal;
}

.animation4003 {
    animation: img400-3 3s ease-in-out 1.2s infinite normal;
}

.animation4004 {
    animation: img400-4 3s ease-in-out 1s infinite normal;
}