.display_home_bg {
    background-image: url(src/assets/home_img/sfondopancake2.png);
    height: 100vh;
    background-size: cover;
    background-color: white;
}
.text-home {
    width: 576px;
    height: 281px;
    padding-top:190px;
}
.text-home h1 {
    margin-bottom: 24px;
    font-size: 64px;
    font-weight: 600;
}
.text-home h2 {
    margin: 0px 0px 24px 0px;
    font-size:  20px;
}
.home {
    margin-right: 8px;
}

.home_hero{
    display:flex;
    justify-content: center;
    padding-right: 350px;
}

/*MEDIA*/

@media (max-width: 1000px) {
    .flex-container {
        display:flex;
        flex-direction: column;
        justify-content: center;
    }
    .display_home_bg {
        background-image: url(src/assets/home_img/sfondopancake2.png) ;
        background-size: 500px;
        padding:0px;
        height: 100vh;
        background-size: cover;
        background-color: white;
        display:flex;
        flex-direction: column;
        margin-bottom: 100px;
    }
    .home {
        margin-right: 8px;
    } 
    .home_hero{
        display:flex;
        justify-content: center;
        padding-right: 350px;
    }
    .text-home {
        width: 576px;
        height: 281px;
        padding-top:190px;
        padding-left: 30px;
        text-align: center;
        position:relative;
    }
    .text-home h1 {
        margin-bottom: 24px;
        font-size: 64px;
        font-weight: 600;
    }
    .text-home h2 {
        margin: 0px 0px 24px 0px;
        font-size:  20px;
    }
}

@media (max-width: 768px) {
    
    .display_home_bg {
        background-image: url(src/assets/home_img/sfondopancake2.png) ;
        background-size: 500px;
        padding:0px;
        height: 600px;
        background-size: cover;
        background-color: white;
        display:flex;
        flex-direction: column;
        margin-bottom: 100px;
    }
    
    .text-home {
        width: 450px;
        height: 106px;
        padding-top: 30px;
        padding-left: 20px;
        text-align: center;
        position:relative;
    }
    .text-home h1 {
        margin-bottom: 24px;
        font-size: 48px;
        font-weight: 600;
    }
    .text-home h2 {
        margin: 0px 0px 24px 0px;
        font-size:  20px;
    }
    .home {
        margin-right: 8px;
    } 
}
@media (max-width: 400px) {
    
    .display_home_bg {
        background-image: url(src/assets/home_img/sfondopancake2.png) ;
        background-size: 500px;
        padding:0px;
        height: 600px;
        background-size: cover;
        background-color: white;
        display:flex;
        flex-direction: column;
        margin-bottom: 100px;
    }
    .text-home {
        width: 350px;
        height: 216px;
        padding: 0px;
        font-size: 48px;
        font-weight: 600;
    }
    .text-home h1 {
        text-align: left;
        padding-left: 20px;
    }
    .text-home h2 {
        text-align: left;
        padding-left: 20px;
    }

}