<div class="containerliqcent">
    <div class="liq-container">
        <div class="secondo-container">
            <div class="prova3">
            <h3 class="titolo">Your Liquidity</h3>
            <div class="imgprimaparte">
                <button type="btn" class="btnliquidity"><img class="impostazioni" src="/src/assets/liquiditynav/impliq.png"></button>
                <button type="btn" class="btnliquidity"><img class="timereverse" src="/src/assets/liquiditynav/timeliq.png"></button>
            </div> 
            </div>
            <h5 class="sottotitolo">Remove liquidity to receive tokens back</h5>
            
        </div>   
    </div>
    <div class="altro-container">
        <div class="spacecenter">
        <h5>Connect to a wallet to view your liquidity.</h5>
        </div> 
        <div class="buttonaddliq">
        <button type="btn" class="btn btn-nor">+ Add Liquidity</button>
        </div>
    </div>
</div>
